/* MAIN CSS FILE FOR  BLECHDEL PROJECT */

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Lora');

svg {
  display:block;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 5px;  /* remove scrollbar space */
  background: white;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: darkgray;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  background-color: #f5efef;
  line-height: 1.6;
}

/* LINKS */
/* unvisited link */
a:link {
  color: black;
  text-decoration: none;
}
/* visited link */
a:visited {
  color: black;
}
/* mouse over link */
a:hover {
  color: rosybrown;
}
/* selected link */
a:active {
  color: rgb(87, 37, 62);
}


/* TOP HEADER */
#header{
  width: 100%;
  box-sizing: border-box;
  background-color: white;
  padding: 0px 30px 0px 30px;
  position: fixed;
  overflow-x: scroll;
  border-bottom: solid rosybrown 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#push{
  height: 175px;
}

h1 {
  font-family: 'Lora', serif;
  font-size: 4em;
  text-align: left;
  padding-top: 20px;
  margin: 0px;
}

.padding {
  padding: 0px 0px 0px 40px;
}

/* ABOUT SECTION */
#why {
  display: flex;
  flex-flow: row wrap;
  height: fit-content;
  padding: 0px 30px 5px 30px;
  flex: 1 100%;
}

#matter {
  margin: 10px;
  padding: 5px 15px 5px 15px;
  width: 100%;
  height: fit-content;
  background-color: #b68484;
  color: white;
  
}

.panel {
  margin: 10px;
  margin-top: 30px;
  padding: 0px 15px 5px 15px;
  width: 20%;
  height: 275px;
  overflow: scroll;
  background-color: white;
  border-top: solid rosybrown 10px;
  flex: 1 auto;
}

#yearTitle, #bvgTitle {
  margin: 50px 0px 0px 40px;
  padding-top: 20px;
  width: 100%;
  border-top: solid rosybrown 10px;
}

#resources {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

#women {
  padding: 10px;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width : 768px) {
    .panel {
      width: 100%;
      height: 175px;
    }
    #MoviesPerYear {
      flex-wrap: wrap;
    }
    #yearDescrip {
      width: 100%;
    }
}

/* GRAPHS */
#MoviesPerYear, #BudgetvGross {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  
}

.graph {
  padding: 30px;
  margin: 0px;
}

h2 {
  width: 100%;
}

#yearSelector {
  margin-left: 10px;
  background-color: white;
  padding: 10px;
}

#yearDescrip {
  width: 15vw;
}

#bvgDescrip {
  width: 15vw;
  padding-left: 30px;
}

div.tooltip, div.scatterTip {	
  position: absolute;			
  text-align: center;			
  width: fit-content;					
  height: fit-content;	
  padding: 5px;				
  color: white;	
  background:#7F525D;			
  pointer-events: none;			
}

.axis {
  font-size: .8em;
}

table {
  margin: 10px;
  border-collapse: collapse;
  border: 2px black solid;
  font: 12px sans-serif;
}

td {
  border: 1px black solid;
  padding: 5px;
}

